* {
   padding: 0;
   margin: 0;
   font-family: Trebuchet MS, Verdana, Arial, serif;
}

body {
   color: #000000;
   background: #E7E6D9;
   text-align: center;
   font-size: 0.9em;
}

a {
   color: #999933;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a img {
   border: 0px;
}

h1 {
  margin: 0px 0px 20px 0px;
}

h2 {
  margin: 0px 0px 10px 0px;
}

p {
   margin: 10px 0px;
   color: #333333;
}

form {
   display: block;
}

#splash {
   float: left;
   padding: 7px;
}
   
#wrapper {
   margin: 0px auto;
   width: 750px;
   text-align: left;
}

#header {
   height: 75px;
   background: #BBC532;
   border: 1px solid #BBC532;
   -moz-border-radius-bottomleft: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -moz-border-radius-bottomright: 8px;
   -webkit-border-bottom-right-radius: 8px;
   border-radius-bottomleft: 8px;
   border-radius-bottomright: 8px;
}

#header_logo {
   float: right;
   width: 281px
   height: 75px;
   padding: 27px 5px 0px 0px;
}

#header_navi {
   background: #FFFFFF;
   color: #666633;
   padding: 10px 10px 10px 10px;
   margin: 10px 10px 10px 10px;
   border: 1px solid white;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
}

#twitter_div {
   margin-left: 225px;
}
