<style>
  .alert {
    background: #f04124;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  label {
    display:block;
    margin-bottom: .25rem;
  }

  select {
    margin-bottom: 1rem;
    padding: .5rem;
  }

  .buttons input {
    padding: 4px 8px;
    opacity: .85;
  }

  .buttons input:hover,
  .buttons input:focus {
    opacity: 1;
    color: #fff;
  }

  input[name="confirmblock"] {
    background: #f04124;
    color: #f5f5f5;
    margin-right: 1.25rem;
  }
</style>

<script>
  $alpine = function () {
    return {
      selectedOption: null,
      removeBlockedSitesAfterDays: '<% param.removeBlockedSitesAfterDays %>',
      purgeInDaysText: '<% param.purgeInDaysText %>',
      dayOptionsUntilPurge: [
        {days: 1, text: '<% param.purgeImmediateText %>'}
      ],
      init: function () {
        const fullPeriod = Number(this.removeBlockedSitesAfterDays);
        const halfPeriod = Math.floor(fullPeriod / 2);
        this.dayOptionsUntilPurge.push(
          {days: halfPeriod, text: this.purgeInDaysText.replace('$$', halfPeriod)},
          {days: fullPeriod, text: this.purgeInDaysText.replace('$$', fullPeriod)}
        );
        this.selectedOption = fullPeriod;
      }
    };
  };
</script>
