<style>
  h2 {
    text-align: left;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555 !important;
  }
  textarea {
    border: 1px solid #cbc918;
    min-width: 50%;
  }
  #flagform {
    max-width: 720px;
  }
  #flagtype {
    background: #f5f5f5;
    border: 1px solid #cbc918;
    min-width: 50%;
    padding: 0.5rem 1rem;
  }
  .flagstate {
    background: #f5f5f5;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }
  .flagstate.flagged {
    background: #cbc918;
  }
  .listFlagEvents {
    margin: 1rem 0 2rem;
    text-align: center;
  }
  .history {
    font-style: italic;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .warning {
    align-items: start;
    background: #ffa000;
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.7);
    color: #fff;
    display: flex;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0.5rem 0 2rem;
    padding: 1rem;
  }
  .warning svg {
    flex: none;
  }
  .warning a {
    color: #c77e00;
  }
  .warning > div {
    margin-left: 1rem;
  }
  .warning p {
    margin: 0;
  }
  .flagaddition {
    color: #a26700;
    font-size: 0.85rem;
    line-height: 1.3;
    margin-top: 1rem;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    max-width: 440px;
    margin: 0 auto;
  }
  .buttons > button {
    align-items: center;
    display: inline-flex;
    padding: 0.5rem;
  }
  button:hover {
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
    cursor: pointer;
  }
  button > svg {
    margin-right: 0.5rem;
  }
  button > span {
    white-space: nowrap;
  }
</style>

<script>
  $alpine = function () {
    return {
      currentUser: '<% param.currentUser %>',
      selectedReason: '<% param.currentReason %>',
      selectedReasonMsg: '',
      flagReasons: <% param.reasons %>,
      usermail: true,
      flagAddition: '<% param.currentAddition %>',
      prefs: <% param.prefs %>,
      setMsg: function () {
        this.selectedReasonMsg = this.selectedReason
          ? this.flagReasons[this.selectedReason]
          : '';
        this.$refs.flaglabel.style.color = '#333';
      },
      flagInfo: function () {
        return `<% message key='Story.flag.flagged' %> «${
          this.prefs.flagtype || this.prefs.unflaggedtype
        }» ${this.prefs.flagdate} <% message key='generic.of' %> ${
          this.prefs.flaguser
        }`;
      },
      unflagInfo: function () {
        return `<% message key='Story.flag.unflagged' %> ${this.prefs.unflagdate} <% message key='generic.of' %> ${this.prefs.unflaguser}`;
      },
      setBoxHeight: function (e) {
        e.target.style.height = e.target.scrollHeight + 'px';
      },
      validateFlagType: function (e) {
        if (!Object.keys(this.flagReasons).includes(this.selectedReason)) {
          e.preventDefault();
          this.$refs.flaglabel.style.color = '#f04124';
        }
      },
      init: function() {
        this.setMsg();
        this.flagAddition = this.flagAddition.replace(/&#39;/g, '\'');
      }
    };
  };
</script>
