
/* ----------------- */
/* BASIC PAGE LAYOUT */

body {
  margin: 0;
  padding: 0;
  background: #EEECE2;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.3em;
}

.wrapper {
  margin: 1.5em 3em 1em 3em;
  padding: 1em;
  border: 1px solid #666666;
  background-color: #FFFFFF;
}

.header {
  text-align: right;
}


.title {
  font-size: 1.5em;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  margin: 0 0 1em 0;
  font-weight: bold;
}

.help {
  font-size: 0.9em;
  margin: 0 0 2em 0;
  color: #666666;
}

h2 {
  font-size: 1.2em;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

.entries {
  text-align: left;
}

.Item {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ItemHeader {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #666633;
}

.ItemMeta {
  font-size: 0.7em;
  margin: 0 0 1em 0;
  padding: 0 0 0 0;
  color: #CCCC33;
}

.ItemContent {
  font-size: 0.9em;
  color: #666666;
}

