body > #modToolbar {
  position: fixed;
}
.modToolbar {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%;
  z-index: 99;
  text-align: left;
  color: #999999;
}
#modToolbar-spacer {
  position: relative; 
  z-index: 0;
  text-align: left;
}
.modToolbar .favicon {
  margin: 0 6px 0 4px;
  float: left;
  vertical-align: absmiddle;
}
#modToolbar-collapsed {
  position: absolute; 
  left:0px; 
  top: 0px;
  width: 20px;

  border-bottom: 1px solid #555555;
  border-right: 1px solid #555555;
  background-color: #F7F7F7;
  font-family: Trebuchet MS, Verdana, Arial; 
  font-size: 11px; 
  font-weight: bold;
  padding: 2px 4px;
  z-Index: 98;

}
body > #modToolbar-collapsed {
  min-width: 20px;
  width: auto;
}
#modToolbar-collapsed a, #modToolbar-collapsed a:link, #modToolbar-collapsed a:visited {
  color: #336699;
  text-decoration: none;
}
#modToolbar-collapsed a:hover {
  color: #000000;
}
.modToolbar a, .modToolbar a:link, .modToolbar a:visited {
  color: #336699;
  text-decoration: none;
}
.modToolbar a:hover {
  color: #000000;
}
.modToolbarBorder {
  border-bottom: 1px solid #555555;
  background-color: #F7F7F7;
  font-family: Trebuchet MS, Verdana, Arial; 
  font-size: 11px; 
  font-weight: bold;
  padding: 2px;
  line-height: 150%;
}
#modToolbar-collapsed .modToolbarBorder {
  clear: both; 
  width: 20px; 
  border-right: 1px solid #555555;
}
.modToolbarLeft {
  text-align: left;
  float: left;
  margin-right: 4px;
}
.modToolbarRight {
  text-align: right;
  float: right;
  margin-right: 4px;
}
.modToolbarDropdown {
  border: 1px solid #7C89A1; 
  background-color: #F7F7F7;
  width: 150px;
  z-index: 99;
  filter: alpha(opacity=90);  
  -moz-opacity: 0.90; 
  text-align: left;
  visibility: hidden; 
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.modToolbarDropdown a, .modToolbarDropdown a:link, .modToolbarDropdown a:visited {
  display: block;
  color: #555555;
  width: 150px;
  padding: 3px;
  font-family: Trebuchet MS, Verdana, Arial; 
  font-size: 11px; 
  text-decoration: none;
  padding-left: 6px;
}
html>body .modToolbarDropdown a, 
html>body .modToolbarDropdown a:link,
html>body .modToolbarDropdown a:visited {
   width: 144px;
}
.modToolbarDropdown a:hover {
  width: 150px;
  display: block;
  border: 1px solid #cdcdcd;
  padding: 2px;
  background-color: #edf3fe;
  color: #000000;
  padding-left: 5px;
}
html>body .modToolbarDropdown a:hover {
   width: 141px;
}
.clearall {
   clear: both;
}
